{% extends 'base.html' %}
{% block title %}Sign Message{% endblock %}
{% block content %}

<div class="container col-lg-8 controls">
    <form method="POST" class="form-signin">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="private_key">Private Key:</label>
            {{ form.private_key(class="form-control", placeholder="Enter your private key") }}
        </div>

        <div class="form-group">
            <label for="message">Message:</label>
            {{ form.message(class="form-control", placeholder="Enter your message") }}
        </div>
        <div class="form-group">
            <label for="address_type">Address type:</label>
            <br>
            {{ form.address_type() }}
        </div>
        <div class="form-check">
            {{ form.deterministic() }}
            <label class="form-check-label" for="defaultCheck1">
                {{form.deterministic.label}}
            </label>
        </div>

        <div class="form-check">
            {{ form.electrum() }}
            <label class="form-check-label" for="defaultCheck1">
                {{form.electrum.label}}
            </label>
        </div>
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

    </form>
</div>
<br>
{% if sig%}
<div class="container">
    <form class="form-control">{{sig[1]}}{{sig[0]}}{{sig[2]}}</form>
</div>
{%endif%}

{% endblock %}