{% extends 'base.html' %}
{% block title %}Verify Message{% endblock %}
{% block content %}


<div class="container col-lg-8 controls" style="margin-top: 80px;">
    <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="address">Bitcoin Address:</label>
                    {{ form.address(class="form-control", placeholder="Enter Bitcoin address") }}
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    {{ form.message(class="form-control", placeholder="Enter your message") }}
                </div>
                <div class="form-group">
                    <label for="message">Signature:</label>
                    {{ form.signature(class="form-control", spellcheck="false", style="resize:none;height: 90px",
                    placeholder="Enter your signature") }}
                </div>
                {{ form.submit(class="btn btn-lg btn-primary") }}
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="optional_parameters">Optional parameters:</label>

                    <div class="form-check">
                        {{ form.electrum() }}

                        <label class="form-check-label" for="defaultCheck1">
                            {{form.electrum.label}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


{% endblock %}